.taskWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
}

.taskInput {
  width: 80%;
  height: 50px;
}

.addTask {
  height: 50px;
  border: none;
  background-color: #6ed3c9;
  color: #fff;
  box-shadow: 1px 1px 5px #6ed3c9;
  transition: all .5s ease;
}

.addTask:hover {
  box-shadow: none;
}